<div class="intro">
  <div class="row">
    <div class="large-12 columns">
      <div class="logo"><img src="/images/twisted-tech_logo.png"></div>
      <div class="event-date-location">
        <div>
          <span class="date">Feb 21, 2014</span><span class="location">ATX</span>
        </div>
      </div>
      <div class="sign-up-cta">
        <div>
          <h5 class="title">Lend us your brain!</h5>
          <p class="copy">We&rsquo;re looking for more speakers to share their big ideas.</p>
          <a class="button" href="#register-form"><span>Sign up</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <h2><span>Offbeat Tech Chats for</span><span>Mad Scientists</span></h2>

      <div class="body-copy">

      <p>Look, we get it. You&rsquo;re in software.  You&rsquo;re a bit weird and twisted.  You
      go out with your friends and talk about things like genetic programming,
      or the esoteric nature of computer time systems, or how machine learning
      might obsolete humanity&hellip; and think &ldquo;those are killer ideas&rdquo;.   Maybe you
      bring that creativity into your software work, maybe you don&rsquo;t.  But you
      definitely love philosophizing about it with eccentric creatives like
      yourself.</p>

      <p>We are looking for you!  At Twisted Tech, we seek to create a forum where
      all the bizarre technologists of Austin can come together and share those
      ideas and connect as a force in our own right.  Initially connecting for
      one day but setting the stage for taking over the world! Muwahahahahaha!</p>

      <p>We have speakers lined up, but we want more!  What mad scientist thoughts
      of yours should be shared with the world?  We can make that happen (even
      if you&rsquo;re a little &rsquo;fraid ;)</p>

      <p>It&rsquo;s hard to come up with a call to action that doesn&rsquo;t sound cheesy, so
      just contact us and become a beacon of twisted light in Austin.  Either
      way, bring your crazy and join us!</p>

      </div>
    </div>
  </div>
</div>
<div class="form">
  <div class="row">
    <div class="large-12 columns">
      <a id="register-form"></a>
      <h2>Speaker Sign Up</h2>
      <form class="custom" action="/" method="POST">
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-3 columns">
                <label for="name">Name</label>
              </div>
              <div class="large-7 columns">
                <input type="text" id="name" name="name" placeholder="Firstname Lastname">
              </div>
            </div>
            <div class="row">
              <div class="large-3 columns">
                <label for="email">Email</label>
              </div>
              <div class="large-7 columns">
                <input type="email" id="email" name="email" placeholder="name@email.com">
              </div>
            </div>
            <div class="row">
              <div class="large-3 columns">
                <label for="description">Big Idea</label>
              </div>
              <div class="large-7 columns">
                <textarea id="description" name="description"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns center">
                <button class="button"><span>Sign up</span></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>